{% extends 'receipts/index.html' %}
{% block title %} Receipt details {% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">

<div class="col-span-2 p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">{{ receipt.store_name }}</h1>
    <p class="text-gray-500"><strong>Owner: </strong>{{ receipt.created_by }}</p>
    <p class="text-gray-500"><strong>Total amount: </strong>{{ receipt.total_amount }}</p>
    <p class="text-gray-700">
        <strong class="text-gray-500">List:</strong><br>
        {{ receipt.item_list }}
    </p>

    <!-- Edit button -->
    <a href="{% url 'receipts:edit' receipt.id %}" class="bg-blue-500 text-white p-2 rounded-md mt-4 inline-block">Edit</a>

    <!-- Delete button -->
    <a href="{% url 'receipts:delete' receipt.id %}" class="bg-red-500 text-white p-2 rounded-md mt-4 inline-block">Delete</a>

</div>
</div>
{% endblock %}
```