{% extends 'authentication/base.html' %}

{% block title%} Home {%endblock%}

{% block content %}
<!-- list the receipts here -->
        <div class="grid grid-cols-3 gap-6">
            {% for receipt in receipts %}
            <div class="max-w-sm rounded overflow-hidden hover:shadow-lg">
                <a href="{% url 'receipts:detail' receipt.id %}">
                    <div class="bg-gray-100 p-4">
                        <h2 class="text-xl font-semibold">{{ receipt.store_name }}</h2>
                    </div>
        
                    <div class="p-6 bg-white">
                        <h3 class="text-lg">{{ receipt.date_of_purchase }}</h3>
                        <p class="text-gray-500"><strong>List:</strong> {{ receipt.item_list }}</p>
                        <p class="text-gray-500"><strong>Total amount:</strong> {{ receipt.total_amount }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

{% endblock %}